{
    "openapi": "3.0.0",
    "info": {
        "title": "Laravel Swagger API",
        "description": "Laravel Swagger API Documentation",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server - Development"
        },
        {
            "url": "https://apitami.tamimaquinarias.com/",
            "description": "API Server - Production"
        }
    ],
    "paths": {
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Iniciar sesión y generar token de acceso",
                "operationId": "9d0bb5c770cbec19b0b9566606ef4adb",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "device_name"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "admin"
                                    },
                                    "device_name": {
                                        "type": "string",
                                        "example": "navegador",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Autenticación exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Credenciales inválidas"
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Cerrar sesión y revocar token",
                "operationId": "3a27a9e02ceb521eb3f98c8d2394aef9",
                "responses": {
                    "200": {
                        "description": "Sesión finalizada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cierre de sesión exitoso"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No autorizado para cerrar sesión"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error al cerrar sesión"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/blogs": {
            "get": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Obtener lista de blogs",
                "description": "Devuelve todos los blogs con sus imágenes, párrafos, producto asociado y etiqueta.",
                "operationId": "11dfb7e338bc4ae5d1e4e25f7b4f746d",
                "responses": {
                    "200": {
                        "description": "Blogs obtenidos exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Blogs obtenidos exitosamente"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "titulo": {
                                                        "type": "string",
                                                        "example": "Título del blog"
                                                    },
                                                    "nombre_producto": {
                                                        "type": "string",
                                                        "example": "Producto ejemplo",
                                                        "nullable": true
                                                    },
                                                    "link": {
                                                        "type": "string",
                                                        "example": "https://midominio.com/blog/ejemplo"
                                                    },
                                                    "subtitulo1": {
                                                        "type": "string",
                                                        "example": "Subtítulo 1"
                                                    },
                                                    "subtitulo2": {
                                                        "type": "string",
                                                        "example": "Subtítulo 2"
                                                    },
                                                    "video_id": {
                                                        "type": "string",
                                                        "example": "abc123xyz"
                                                    },
                                                    "video_url": {
                                                        "type": "string",
                                                        "example": "https://youtube.com/watch?v=abc123xyz"
                                                    },
                                                    "video_titulo": {
                                                        "type": "string",
                                                        "example": "Título del video"
                                                    },
                                                    "miniatura": {
                                                        "type": "string",
                                                        "example": "https://midominio.com/imagenes/miniatura.jpg"
                                                    },
                                                    "imagenes": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "ruta_imagen": {
                                                                    "type": "string",
                                                                    "example": "https://midominio.com/imagenes/img1.jpg"
                                                                },
                                                                "text_alt": {
                                                                    "type": "string",
                                                                    "example": "Texto alternativo"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "parrafos": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "parrafo": {
                                                                    "type": "string",
                                                                    "example": "Este es un párrafo de ejemplo."
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "etiqueta": {
                                                        "properties": {
                                                            "meta_titulo": {
                                                                "type": "string",
                                                                "example": "Meta título ejemplo"
                                                            },
                                                            "meta_descripcion": {
                                                                "type": "string",
                                                                "example": "Descripción SEO del blog"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": true
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-08-13T15:00:00Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-08-13T15:00:00Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error al obtener los blogs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error al obtener los blogs: mensaje de error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Crear un nuevo blog",
                "operationId": "c1957bad5fb7ce42a51bf4e4284c9815",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "titulo": {
                                        "type": "string"
                                    },
                                    "producto_id": {
                                        "type": "integer"
                                    },
                                    "link": {
                                        "type": "string"
                                    },
                                    "subtitulo1": {
                                        "type": "string"
                                    },
                                    "subtitulo2": {
                                        "type": "string"
                                    },
                                    "video_url": {
                                        "type": "string",
                                        "format": "url"
                                    },
                                    "video_titulo": {
                                        "type": "string"
                                    },
                                    "meta_titulo": {
                                        "type": "string"
                                    },
                                    "meta_descripcion": {
                                        "type": "string"
                                    },
                                    "miniatura": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "imagenes[]": {
                                        "description": "Archivos de imágenes",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "text_alt[]": {
                                        "description": "Texto alternativo de cada imagen",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "parrafos[]": {
                                        "description": "Contenido de cada párrafo",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Blog creado con éxito"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                }
            }
        },
        "/api/v1/blogs/{id}": {
            "get": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Muestra un blog específico",
                "description": "Retorna los datos de un blog según su ID",
                "operationId": "showBlog",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del blog",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Blog encontrado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "producto_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "titulo": {
                                                    "type": "string",
                                                    "example": "Título del blog"
                                                },
                                                "link": {
                                                    "type": "string",
                                                    "example": "Link a blog..."
                                                },
                                                "parrafo": {
                                                    "type": "string",
                                                    "example": "Contenido del blog..."
                                                },
                                                "descripcion": {
                                                    "type": "string",
                                                    "example": "Descripcion del blog..."
                                                },
                                                "miniatura": {
                                                    "type": "string",
                                                    "example": "https://example.com/imagen-principal.jpg"
                                                },
                                                "titulo_blog": {
                                                    "type": "string",
                                                    "example": "Título del detalle del blog"
                                                },
                                                "subtitulo_beneficio": {
                                                    "type": "string",
                                                    "example": "Subtítulo de beneficios"
                                                },
                                                "imagenes": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "url_imagen": {
                                                                "type": "string",
                                                                "example": "https://example.com/imagen1.jpg"
                                                            },
                                                            "parrafo_imagen": {
                                                                "type": "string",
                                                                "example": "Descripción de la imagen"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "url_video": {
                                                    "type": "string",
                                                    "example": "https://example.com/video.mp4"
                                                },
                                                "titulo_video": {
                                                    "type": "string",
                                                    "example": "Título del video"
                                                },
                                                "etiqueta": {
                                                    "properties": {
                                                        "meta_titulo": {
                                                            "type": "string",
                                                            "example": "Meta título del blog"
                                                        },
                                                        "meta_descripcion": {
                                                            "type": "string",
                                                            "example": "Meta descripción del blog"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                "created_at": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Blog encontrado exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog no encontrado"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Elimina un blog específico",
                "description": "Elimina un blog existente según su ID",
                "operationId": "destroyBlog",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del blog a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Blog eliminado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Blog eliminado exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog no encontrado"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Actualiza parcialmente un blog específico (PATCH)",
                "description": "Actualiza algunos datos de un blog existente según su ID",
                "operationId": "updateBlogPatch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del blog a actualizar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "titulo": {
                                        "type": "string",
                                        "example": "Título actualizado del blog"
                                    },
                                    "producto_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "link": {
                                        "type": "string",
                                        "example": "Link a blog..."
                                    },
                                    "subtitulo1": {
                                        "type": "string",
                                        "example": "Contenido actualizado del blog..."
                                    },
                                    "subtitulo2": {
                                        "type": "string",
                                        "example": "Descripcion actualizado del blog..."
                                    },
                                    "miniatura": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "video_url": {
                                        "type": "string",
                                        "example": "https://example.com/nuevo-video.mp4"
                                    },
                                    "video_titulo": {
                                        "type": "string",
                                        "example": "Título del video actualizado"
                                    },
                                    "imagenes": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "imagen": {
                                                    "type": "string",
                                                    "format": "binary"
                                                },
                                                "parrafo": {
                                                    "type": "string",
                                                    "example": "Parrafo de la imagen adicional"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "text_alt": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "Texto alternativo de la imagen"
                                        }
                                    },
                                    "parrafos": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "Contenido del párrafo"
                                        }
                                    },
                                    "meta_titulo": {
                                        "type": "string",
                                        "example": "Meta título del blog"
                                    },
                                    "meta_descripcion": {
                                        "type": "string",
                                        "example": "Meta descripción del blog"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Blog actualizado exitosamente"
                    },
                    "404": {
                        "description": "Blog no encontrado"
                    },
                    "422": {
                        "description": "Error de validación"
                    },
                    "500": {
                        "description": "Error del servidor"
                    }
                }
            }
        },
        "/api/v1/blogs/link/{link}": {
            "get": {
                "tags": [
                    "Blogs"
                ],
                "summary": "Muestra un blog por su link",
                "description": "Retorna los datos de un blog, incluyendo detalles, imágenes y video, según su campo link",
                "operationId": "showBlogByLink",
                "parameters": [
                    {
                        "name": "link",
                        "in": "path",
                        "description": "Link único del blog",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Blog obtenido exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "producto_id": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "titulo": {
                                                    "type": "string",
                                                    "example": "Título del blog"
                                                },
                                                "link": {
                                                    "type": "string",
                                                    "example": "mi-blog-unico"
                                                },
                                                "parrafo": {
                                                    "type": "string",
                                                    "example": "Contenido introductorio del blog."
                                                },
                                                "descripcion": {
                                                    "type": "string",
                                                    "example": "Descripción completa del blog."
                                                },
                                                "imagenPrincipal": {
                                                    "type": "string",
                                                    "example": "https://example.com/imagen-principal.jpg"
                                                },
                                                "tituloBlog": {
                                                    "type": "string",
                                                    "example": "Título del detalle del blog"
                                                },
                                                "subTituloBlog": {
                                                    "type": "string",
                                                    "example": "Subtítulo de beneficios"
                                                },
                                                "imagenesBlog": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "https://example.com/imagen1.jpg"
                                                    }
                                                },
                                                "parrafoImagenesBlog": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "Texto descriptivo de la imagen"
                                                    }
                                                },
                                                "video_id": {
                                                    "type": "string",
                                                    "example": "dQw4w9WgXcQ"
                                                },
                                                "videoBlog": {
                                                    "type": "string",
                                                    "example": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
                                                },
                                                "tituloVideoBlog": {
                                                    "type": "string",
                                                    "example": "Título del video"
                                                },
                                                "etiqueta": {
                                                    "properties": {
                                                        "meta_titulo": {
                                                            "type": "string",
                                                            "example": "Meta título del blog"
                                                        },
                                                        "meta_descripcion": {
                                                            "type": "string",
                                                            "example": "Meta descripción del blog"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-01-01T12:00:00Z"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Blog obtenido exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog no encontrado"
                    },
                    "500": {
                        "description": "Error al obtener el blog"
                    }
                }
            }
        },
        "/api/v1/clientes": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Listar clientes",
                "description": "Obtiene la lista de todos los clientes registrados con sus datos básicos.",
                "operationId": "getClientes",
                "responses": {
                    "200": {
                        "description": "Lista de clientes obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Clientes obtenidos exitosamente"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Juan Pérez"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "format": "email",
                                                        "example": "juan.perez@example.com"
                                                    },
                                                    "celular": {
                                                        "type": "string",
                                                        "example": "+51 987654321"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Error al obtener los clientes: mensaje del error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Crear un nuevo cliente",
                "description": "Crea un nuevo cliente con los datos proporcionados.",
                "operationId": "createCliente",
                "requestBody": {
                    "description": "Datos del cliente a registrar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "celular"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Juan Pérez"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "juan.perez@example.com"
                                    },
                                    "celular": {
                                        "type": "string",
                                        "example": "987654321"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Cliente creado con éxito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cliente creado con éxito."
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Juan Pérez"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "juan.perez@example.com"
                                                },
                                                "celular": {
                                                    "type": "string",
                                                    "example": "987654321"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Error al crear el cliente: mensaje del error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/clientes/{id}": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Obtener un cliente",
                "description": "Obtiene la información de un cliente específico por su ID.",
                "operationId": "getClienteById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del cliente a obtener",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cliente obtenido exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cliente obtenido exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Juan Pérez"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email",
                                                    "example": "juan.perez@example.com"
                                                },
                                                "celular": {
                                                    "type": "string",
                                                    "example": "+51 987654321"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Cliente no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Cliente no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Error al obtener el cliente: mensaje del error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Actualizar un cliente",
                "description": "Actualiza la información de un cliente existente por su ID.",
                "operationId": "updateCliente",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del cliente a actualizar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "description": "Datos para actualizar el cliente",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "celular"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Juan Pérez"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "juan.perez@example.com"
                                    },
                                    "celular": {
                                        "type": "string",
                                        "example": "987654321"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cliente actualizado con éxito",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cliente actualizado con éxito."
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Juan Pérez"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "juan.perez@example.com"
                                                },
                                                "celular": {
                                                    "type": "string",
                                                    "example": "987654321"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Cliente no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Cliente no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Error al actualizar el cliente: mensaje del error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Eliminar un cliente",
                "description": "Elimina un cliente existente por su ID.",
                "operationId": "deleteCliente",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del cliente a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cliente eliminado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cliente eliminado exitosamente"
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Cliente no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Cliente no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Error al eliminar el cliente: mensaje del error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/emails": {
            "post": {
                "tags": [
                    "Email"
                ],
                "summary": "Enviar correo electrónico",
                "description": "Envía un correo electrónico con asunto y mensaje a una dirección especificada",
                "operationId": "sendEmail",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "to",
                                    "subject",
                                    "message"
                                ],
                                "properties": {
                                    "destinatario": {
                                        "description": "Correo del destinatario",
                                        "type": "string",
                                        "format": "email",
                                        "example": "destinatario@gmail.com"
                                    },
                                    "asunto": {
                                        "description": "Asunto del correo",
                                        "type": "string",
                                        "example": "Asunto del correo"
                                    },
                                    "mensaje": {
                                        "description": "Contenido del mensaje",
                                        "type": "string",
                                        "example": "Este es el contenido del correo"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Correo enviado correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Correo enviado correctamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación de datos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "to": [
                                                    "The to field is required."
                                                ],
                                                "subject": [
                                                    "The subject field is required."
                                                ],
                                                "message": [
                                                    "The message field is required."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Error al enviar el correo"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/productos": {
            "get": {
                "tags": [
                    "Productos"
                ],
                "summary": "Listar productos",
                "description": "Obtiene la lista de productos con sus imágenes, especificaciones, productos relacionados y etiquetas.",
                "operationId": "getProductos",
                "responses": {
                    "200": {
                        "description": "Lista de productos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "titulo": {
                                                "type": "string",
                                                "example": "Laptop Gamer"
                                            },
                                            "nombre": {
                                                "type": "string",
                                                "example": "Laptop XYZ"
                                            },
                                            "link": {
                                                "type": "string",
                                                "example": "/productos/laptop-xyz"
                                            },
                                            "subtitulo": {
                                                "type": "string",
                                                "example": "Potencia y velocidad"
                                            },
                                            "stock": {
                                                "type": "integer",
                                                "example": 12
                                            },
                                            "precio": {
                                                "type": "number",
                                                "format": "float",
                                                "example": 2499.99
                                            },
                                            "seccion": {
                                                "type": "string",
                                                "example": "Tecnología"
                                            },
                                            "descripcion": {
                                                "type": "string",
                                                "example": "Laptop de alto rendimiento para gaming."
                                            },
                                            "especificaciones": {
                                                "type": "object",
                                                "example": {
                                                    "procesador": "Intel i7",
                                                    "ram": "16GB"
                                                }
                                            },
                                            "imagenes": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "url_imagen": {
                                                            "type": "string",
                                                            "example": "https://example.com/img1.jpg"
                                                        },
                                                        "texto_alt_SEO": {
                                                            "type": "string",
                                                            "example": "Imagen de laptop gamer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "productos_relacionados": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 2
                                                        },
                                                        "nombre": {
                                                            "type": "string",
                                                            "example": "Mouse Gamer"
                                                        },
                                                        "link": {
                                                            "type": "string",
                                                            "example": "/productos/mouse-gamer"
                                                        },
                                                        "titulo": {
                                                            "type": "string",
                                                            "example": "Mouse RGB"
                                                        },
                                                        "subtitulo": {
                                                            "type": "string",
                                                            "example": "Alta precisión"
                                                        },
                                                        "stock": {
                                                            "type": "integer",
                                                            "example": 50
                                                        },
                                                        "precio": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 49.99
                                                        },
                                                        "seccion": {
                                                            "type": "string",
                                                            "example": "Accesorios"
                                                        },
                                                        "descripcion": {
                                                            "type": "string",
                                                            "example": "Mouse gamer con retroiluminación RGB."
                                                        },
                                                        "imagenes": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "url_imagen": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/mouse1.jpg"
                                                                    },
                                                                    "texto_alt_SEO": {
                                                                        "type": "string",
                                                                        "example": "Mouse gamer RGB"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "etiqueta": {
                                                "properties": {
                                                    "meta_titulo": {
                                                        "type": "string",
                                                        "example": "Meta título del producto"
                                                    },
                                                    "meta_descripcion": {
                                                        "type": "string",
                                                        "example": "Meta descripción del producto"
                                                    }
                                                },
                                                "type": "object",
                                                "nullable": true
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-08-12T10:15:30Z"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-08-12T10:15:30Z"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error al obtener los productos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Error al obtener los productos: error de base de datos"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/productos": {
            "post": {
                "tags": [
                    "Productos"
                ],
                "summary": "Crear un nuevo producto",
                "description": "Crea un nuevo producto con imágenes, etiquetas, productos relacionados y especificaciones",
                "operationId": "2eb8761e9a4f82729865336aac05d51e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "nombre",
                                    "precio",
                                    "imagenes[]"
                                ],
                                "properties": {
                                    "nombre": {
                                        "type": "string",
                                        "example": "Camiseta deportiva"
                                    },
                                    "link": {
                                        "type": "string",
                                        "example": "camiseta-deportiva"
                                    },
                                    "titulo": {
                                        "type": "string",
                                        "example": "Camiseta DryFit Hombre"
                                    },
                                    "subtitulo": {
                                        "type": "string",
                                        "example": "Ideal para entrenamiento"
                                    },
                                    "stock": {
                                        "type": "integer",
                                        "example": 50
                                    },
                                    "precio": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 89.9
                                    },
                                    "seccion": {
                                        "type": "string",
                                        "example": "Ropa Deportiva"
                                    },
                                    "descripcion": {
                                        "type": "string",
                                        "example": "Camiseta ligera y transpirable."
                                    },
                                    "etiquetas[meta_titulo]": {
                                        "type": "string",
                                        "example": "Camiseta deportiva hombre"
                                    },
                                    "etiquetas[meta_descripcion]": {
                                        "type": "string",
                                        "example": "Compra la mejor camiseta deportiva para hombre."
                                    },
                                    "relacionados[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 2
                                        }
                                    },
                                    "imagenes[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "textos_alt[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "Camiseta azul vista frontal"
                                        }
                                    },
                                    "especificaciones_clave[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "Color"
                                        }
                                    },
                                    "especificaciones_valor[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "Azul"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Producto insertado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Producto insertado exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/productos/{id}": {
            "get": {
                "tags": [
                    "Productos"
                ],
                "summary": "Muestra un producto por su ID",
                "description": "Retorna los datos completos de un producto según su ID",
                "operationId": "getProductoByIdV2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del producto",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Producto obtenido exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nombreProducto": {
                                                    "type": "string",
                                                    "example": "Producto A"
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Producto Premium"
                                                },
                                                "subtitulo": {
                                                    "type": "string",
                                                    "example": "Calidad superior"
                                                },
                                                "tagline": {
                                                    "type": "string",
                                                    "example": "Innovación y excelencia"
                                                },
                                                "descripcion": {
                                                    "type": "string",
                                                    "example": "Este producto destaca por su..."
                                                },
                                                "especificaciones": {
                                                    "type": "string"
                                                },
                                                "dimensiones": {
                                                    "type": "object"
                                                },
                                                "relatedProducts": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "integer"
                                                    }
                                                },
                                                "images": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "url_imagen": {
                                                                "type": "string",
                                                                "format": "url",
                                                                "example": "/storage/imagenes/neon.jpg"
                                                            },
                                                            "texto_alt_SEO": {
                                                                "type": "string",
                                                                "example": "Neón rojo personalizado"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "image": {
                                                    "type": "string",
                                                    "format": "url",
                                                    "example": "/storage/imagenes/principal.jpg"
                                                },
                                                "stockProducto": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "precioProducto": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 99.99
                                                },
                                                "seccion": {
                                                    "type": "string",
                                                    "example": "Electrónica"
                                                },
                                                "etiqueta": {
                                                    "properties": {
                                                        "meta_titulo": {
                                                            "type": "string",
                                                            "example": "Meta título del producto"
                                                        },
                                                        "meta_descripcion": {
                                                            "type": "string",
                                                            "example": "Meta descripción del producto"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Producto encontrado exitosamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Producto no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Producto no encontrado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Hubo un error en el servidor"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "post": {
                "tags": [
                    "Productos"
                ],
                "summary": "Actualiza un producto específico (no funciona en Swagger)",
                "description": "Actualiza producto, elimina todas las antiguas imagenes y guarda las nuevas imagen en el servidor. Si lo intentas usar en Swagger no funcionará, pero si lo pruebas desde Postman si funciona. Los campos a enviar ya sea o desde Postman o desde un frontend son los mismos listados a continuación.",
                "operationId": "updateProducto2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del producto a actualizar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "nombre",
                                    "titulo",
                                    "subtitulo",
                                    "stock",
                                    "precio",
                                    "seccion",
                                    "descripcion",
                                    "especificaciones",
                                    "imagenes",
                                    "textos_alt",
                                    "mensaje_correo",
[...]
