APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:QbtrMF0I7xOhW8FmCapFt8r0O46Iws/zEDyB/sHcXgw=
APP_DEBUG=true
APP_TIMEZONE=UTC-5
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=back_tami
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# Variables para Swagger
L5_SWAGGER_GENERATE_ALWAYS=true
L5_SWAGGER_UI_PERSIST_AUTHORIZATION=true
L5_SWAGGER_CONST_HOST=${APP_URL}:8000
L5_SWAGGER_BASE_PATH=/api
L5_SWAGGER_OPERATIONS_SORT=alpha
L5_SWAGGER_UI_DOC_EXPANSION=list
L5_SWAGGER_UI_DARK_MODE=false
L5_SWAGGER_UI_FILTERS=true
L5_FORMAT_TO_USE_FOR_DOCS=json
L5_SWAGGER_USE_ABSOLUTE_PATH=true
APP_MAINTENANCE_STORE=database
L5_SWAGGER_GENERATE_YAML_COPY=false
L5_SWAGGER_OPEN_API_SPEC_VERSION=3.0.0
L5_SWAGGER_UI_ASSETS_PATH=vendor/swagger-api/swagger-ui/dist/